.table-wrapper{
    table{
        background-color: #ececec;

        th {
            color: black;
        }

        td {
            color: black;
        }

        .infected {
            background-color: rgb(255, 204, 204);
        }
        
    }
}