mat-sidenav-container,
mat-drawer-container {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: row;

  & > .actions {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 32px 0;
  }

  & > .info {
    width: 350px;
    padding: 32px 16px;
  }
}

.button-content {
  color: rgba($color: #000000, $alpha: 0.87);
  font-size: 0.875rem;
  letter-spacing: 0.0685rem;
  line-height: 1.09375rem;
  width: 75px;
  padding: 10px 0;

  & > label {
    display: block;
    white-space: normal;
    cursor: inherit;
  }
}

.mat-drawer-inner-container {
  display: flex;
}
